# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test coverage
.coverage*
tests/coverage/

# Generated docs
site/

# Examples
examples/.ipynb_checkpoints/
examples/mlruns/

# Build
dist/

# Virtual Environments
.venv/

# Docker volume for Localstack for AWS API testing
.localstack
