# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test coverage
.coverage
tests/coverage/

# Generated docs
site/

# Examples
examples/.ipynb_checkpoints/
examples/mlruns/

# Build
dist/

# Virtual Environments
.venv/

# lab used during tests for README examples
demo_lab/
